<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="LinkedIn Login Page" parallel="tests" thread-count="5">

    <parameter name="browserName" value="Chrome"/>

    <test name="Login Tests Positive">
        <classes>
            <class name="LinkedInLoginTests"/>
        </classes>
    </test>

    <test name="Login Tests Negative">
        <classes>
            <class name="LinkedInSearchTests"/>
        </classes>
    </test>

</suite>